# Entorno virtual
venv/

# Archivos Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución/empaquetado
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Archivos de ambiente
.env
.venv
env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo